Business Usecase

About the company : City Bank

<p> This is sample text This is sample text  This is sample text  This is sample text This is sample text This is sample text This is sample text This is sample text This is sample text This is sample text This is sample text This is sample text  </p>

Problem Definition :

<p> Citibank generetates 10 Million dollars of revenue through credit card sales . in last quarter there was decline in sales generate to credit card sales . Hence , stakeholders would like to understand  the sales drivers and do proactive measures to increase the sales in the upcoming quarter

Outcome

<p> This is sample text This is sample text  This is sample text  This is sample text This is sample text This is sample text This is sample text This is sample text This is sample text This is sample text This is sample text This is sample text  </p>

Creation of base data set

In [1]:
#importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Meging multiple data sets

In [44]:
df=pd.read_csv("C:\\Users\\Administrator\\Downloads\\Python-20191004T130356Z-001\\Python\\36- Datasets\\home_credit\\application_train.csv")

In [45]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
base_df=df

Memory management

In [47]:
""" iterate through all the columns of a dataframe and modify the data type
    to reduce memory usage.        
"""

start_mem=df.memory_usage().sum()/1024**2
print("Memory usage before optimatization {:.2f}MB".format(start_mem))

for col in df.columns:
    col_type=df[col].dtype
    
    if col_type!=object:
        cmin=df[col].min()
        cmax=df[col].max()
        if str(col_type)[:3]=='int':
            if cmin>np.iinfo(np.int8).min & cmax<np.iinfo(np.int8).max:
                df[col]=df[col].astype(np.int8)
            elif cmin>np.iinfo(np.int16).min & cmax<np.iinfo(np.int16).max:
                df[col]=df[col].astype(np.int16)
            elif cmin>np.iinfo(np.int32).min & cmax<np.iinfo(np.int32).max:
                df[col]=df[col].astype(np.int32)
            elif cmin > np.iinfo(np.int64).min and cmax < np.iinfo(np.int64).max:
                df[col] = df[col].astype(np.int64)
        else:
            if cmin > np.finfo(np.float16).min and cmax < np.finfo(np.float16).max:
                df[col] = df[col].astype(np.float16)
            elif cmin > np.finfo(np.float32).min and cmax < np.finfo(np.float32).max:
                df[col] = df[col].astype(np.float32)
            else:
                df[col] = df[col].astype(np.float64)
    else:
        df[col]=df[col].astype('category')
            
end_mem=df.memory_usage().sum()/1024**2
print("Memory usage after optimization {:.2f}MB".format(end_mem))
print("Memory decreased by {:.1f}%".format(100*(start_mem-end_mem)/start_mem))

Memory usage before optimatization 286.23MB
Memory usage after optimization 134.32MB
Memory decreased by 53.1%

In [48]:
df=df.sample(10000)

In [49]:
df.shape

(10000, 122)

Null Value Treatment

In [50]:

def null_values(base_dataset):
    print(base_dataset.isna().sum())
    ## null value percentage     
    null_value_table=(base_dataset.isna().sum()/base_dataset.shape[0])*100
    ## null value percentage beyond threshold drop , else treat the columns 
    
    retained_columns=null_value_table[null_value_table<int(input())].index
    # if any variable as null value greater than input(like 30% of the data) value than those variable are consider as drop
    drop_columns=null_value_table[null_value_table>int(input())].index
    base_dataset.drop(drop_columns,axis=1,inplace=True)
    len(base_dataset.isna().sum().index)
    cont=base_dataset.describe().columns
    cat=[i for i in base_dataset.columns if i not in base_dataset.describe().columns]
    for i in cat:
        base_dataset[i].fillna(base_dataset[i].value_counts().index[0],inplace=True)
    for i in cont:
        base_dataset[i].fillna(base_dataset[i].median(),inplace=True)
    print(base_dataset.isna().sum())
    return base_dataset,cat,cont

In [51]:

base_Df_nullvalues_treated,cat,cont=null_values(df)

SK_ID_CURR                       0
TARGET                           0
NAME_CONTRACT_TYPE               0
CODE_GENDER                      0
FLAG_OWN_CAR                     0
FLAG_OWN_REALTY                  0
CNT_CHILDREN                     0
AMT_INCOME_TOTAL                 0
AMT_CREDIT                       0
AMT_ANNUITY                      0
AMT_GOODS_PRICE                  8
NAME_TYPE_SUITE                 42
NAME_INCOME_TYPE                 0
NAME_EDUCATION_TYPE              0
NAME_FAMILY_STATUS               0
NAME_HOUSING_TYPE                0
REGION_POPULATION_RELATIVE       0
DAYS_BIRTH                       0
DAYS_EMPLOYED                    0
DAYS_REGISTRATION                0
DAYS_ID_PUBLISH                  0
OWN_CAR_AGE                   6601
FLAG_MOBIL                       0
FLAG_EMP_PHONE                   0
FLAG_WORK_PHONE                  0
FLAG_CONT_MOBILE                 0
FLAG_PHONE                       0
FLAG_EMAIL                       0
OCCUPATION_TYPE               3190
CNT_FAM_MEMBERS                  0
                              ...
DEF_30_CNT_SOCIAL_CIRCLE        26
OBS_60_CNT_SOCIAL_CIRCLE        26
DEF_60_CNT_SOCIAL_CIRCLE        26
DAYS_LAST_PHONE_CHANGE           0
FLAG_DOCUMENT_2                  0
FLAG_DOCUMENT_3                  0
FLAG_DOCUMENT_4                  0
FLAG_DOCUMENT_5                  0
FLAG_DOCUMENT_6                  0
FLAG_DOCUMENT_7                  0
FLAG_DOCUMENT_8                  0
FLAG_DOCUMENT_9                  0
FLAG_DOCUMENT_10                 0
FLAG_DOCUMENT_11                 0
FLAG_DOCUMENT_12                 0
FLAG_DOCUMENT_13                 0
FLAG_DOCUMENT_14                 0
FLAG_DOCUMENT_15                 0
FLAG_DOCUMENT_16                 0
FLAG_DOCUMENT_17                 0
FLAG_DOCUMENT_18                 0
FLAG_DOCUMENT_19                 0
FLAG_DOCUMENT_20                 0
FLAG_DOCUMENT_21                 0
AMT_REQ_CREDIT_BUREAU_HOUR    1328
AMT_REQ_CREDIT_BUREAU_DAY     1328
AMT_REQ_CREDIT_BUREAU_WEEK    1328
AMT_REQ_CREDIT_BUREAU_MON     1328
AMT_REQ_CREDIT_BUREAU_QRT     1328
AMT_REQ_CREDIT_BUREAU_YEAR    1328
Length: 122, dtype: int64
50
50
SK_ID_CURR                    0
TARGET                        0
NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
FLAG_OWN_REALTY               0
CNT_CHILDREN                  0
AMT_INCOME_TOTAL              0
AMT_CREDIT                    0
AMT_ANNUITY                   0
AMT_GOODS_PRICE               0
NAME_TYPE_SUITE               0
NAME_INCOME_TYPE              0
NAME_EDUCATION_TYPE           0
NAME_FAMILY_STATUS            0
NAME_HOUSING_TYPE             0
REGION_POPULATION_RELATIVE    0
DAYS_BIRTH                    0
DAYS_EMPLOYED                 0
DAYS_REGISTRATION             0
DAYS_ID_PUBLISH               0
FLAG_MOBIL                    0
FLAG_EMP_PHONE                0
FLAG_WORK_PHONE               0
FLAG_CONT_MOBILE              0
FLAG_PHONE                    0
FLAG_EMAIL                    0
OCCUPATION_TYPE               0
CNT_FAM_MEMBERS               0
REGION_RATING_CLIENT          0
                             ..
DEF_30_CNT_SOCIAL_CIRCLE      0
OBS_60_CNT_SOCIAL_CIRCLE      0
DEF_60_CNT_SOCIAL_CIRCLE      0
DAYS_LAST_PHONE_CHANGE        0
FLAG_DOCUMENT_2               0
FLAG_DOCUMENT_3               0
FLAG_DOCUMENT_4               0
FLAG_DOCUMENT_5               0
FLAG_DOCUMENT_6               0
FLAG_DOCUMENT_7               0
FLAG_DOCUMENT_8               0
FLAG_DOCUMENT_9               0
FLAG_DOCUMENT_10              0
FLAG_DOCUMENT_11              0
FLAG_DOCUMENT_12              0
FLAG_DOCUMENT_13              0
FLAG_DOCUMENT_14              0
FLAG_DOCUMENT_15              0
FLAG_DOCUMENT_16              0
FLAG_DOCUMENT_17              0
FLAG_DOCUMENT_18              0
FLAG_DOCUMENT_19              0
FLAG_DOCUMENT_20              0
FLAG_DOCUMENT_21              0
AMT_REQ_CREDIT_BUREAU_HOUR    0
AMT_REQ_CREDIT_BUREAU_DAY     0
AMT_REQ_CREDIT_BUREAU_WEEK    0
AMT_REQ_CREDIT_BUREAU_MON     0
AMT_REQ_CREDIT_BUREAU_QRT     0
AMT_REQ_CREDIT_BUREAU_YEAR    0
Length: 81, dtype: int64

In [52]:
df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL',
       'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE',
       'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS',
       'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
       'ORGANIZATION_TYPE', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'YEARS_BEGINEXPLUATATION_AVG', 'FLOORSMAX_AVG',
       'YEARS_BEGINEXPLUATATION_MODE', 'FLOORSMAX_MODE',
       'YEARS_BEGINEXPLUATATION_MEDI', 'FLOORSMAX_MEDI', 'TOTALAREA_MODE',
       'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2',
       'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
       'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
       'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
       'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

In [53]:
df.shape

(10000, 81)

Outliers Treatment

In [12]:
def outliers_transform(base_dataset):
    for i in base_dataset.var().sort_values(ascending=False).index[1:10]:
        x=np.array(base_dataset[i])
        qr1=np.quantile(x,0.25)
        qr3=np.quantile(x,0.75)
        iqr=qr3-qr1
        utv=qr3+(1.5*(iqr))
        ltv=qr1-(1.5*(iqr))
        y=[]
        for p in x:
            if p <ltv or p>utv:
                y.append(np.median(x))
            else:
                y.append(x)
        base_dataset[i]=y

In [13]:
outliers_transform(df)

Label Encoders

In [54]:
from sklearn.preprocessing import LabelEncoder
def label_encoders(data,cat):
    le=LabelEncoder()
    for i in cat:
        le.fit(data[i])
        x=le.transform(data[i])
        data[i]=x
    return data

In [55]:
base_data_label_encoded=label_encoders(base_Df_nullvalues_treated,cat)

In [16]:
base_data_label_encoded

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
166761,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
22639,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,1,2,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
71979,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
303432,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
77873,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,2,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,1.0,2.0,5.0
272702,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,3.0,2.0,4.0
184991,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
184112,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
16402,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
300708,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,1,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
130788,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
276438,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
213968,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
142445,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
291224,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
139696,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
154245,"[293322, 126343, 183474, 451554, 190279, 41612...",1,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
279953,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
146277,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,5.0
285630,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,2,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,4.0
71392,"[293322, 126343, 183474, 451554, 190279, 41612...",1,0,0,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,1.0,2.0,8.0
100790,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,8.0,0.0,1.0
261421,"[293322, 126343, 183474, 451554, 190279, 41612...",1,0,1,0,1,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
38919,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
162743,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
39813,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
241549,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
234013,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,1,0,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
306884,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0
234660,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,0,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76906,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
100442,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...",512064,"[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,1,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
50354,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
99292,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,1,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
40604,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
80651,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
273145,"[293322, 126343, 183474, 451554, 190279, 41612...",1,0,1,1,0,3,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,1.0,1.0,0.0,3.0
60353,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
245168,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,1,1,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
85150,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
104427,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,1,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
82398,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,4.0
277270,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
157538,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
180699,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,1,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
230763,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
115051,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,1,1,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
217423,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
160435,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
166205,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
245815,"[293322, 126343, 183474, 451554, 190279, 41612...",1,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
290497,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
20644,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
288785,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
263528,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
254621,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0
236414,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,0,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,4.0
80225,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,1,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
275701,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
24235,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0

In [17]:
base_Df_nullvalues_treated

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
166761,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
22639,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,1,2,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
71979,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
303432,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
77873,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,2,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,1.0,2.0,5.0
272702,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,3.0,2.0,4.0
184991,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
184112,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
16402,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
300708,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,1,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
130788,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
276438,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
213968,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
142445,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
291224,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
139696,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
154245,"[293322, 126343, 183474, 451554, 190279, 41612...",1,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
279953,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
146277,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,5.0
285630,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,2,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,4.0
71392,"[293322, 126343, 183474, 451554, 190279, 41612...",1,0,0,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,1.0,2.0,8.0
100790,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,8.0,0.0,1.0
261421,"[293322, 126343, 183474, 451554, 190279, 41612...",1,0,1,0,1,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
38919,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
162743,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
39813,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
241549,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
234013,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,1,0,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
306884,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0
234660,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,0,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76906,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
100442,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...",512064,"[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,1,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
50354,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
99292,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,1,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
40604,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
80651,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
273145,"[293322, 126343, 183474, 451554, 190279, 41612...",1,0,1,1,0,3,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,1.0,1.0,0.0,3.0
60353,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
245168,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,1,1,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
85150,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
104427,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,1,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
82398,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,4.0
277270,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
157538,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
180699,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,1,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
230763,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
115051,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,1,1,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
217423,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
160435,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
166205,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
245815,"[293322, 126343, 183474, 451554, 190279, 41612...",1,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
290497,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
20644,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
288785,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
263528,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,0,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
254621,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0
236414,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,1,1,0,1,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,4.0
80225,"[293322, 126343, 183474, 451554, 190279, 41612...",0,1,0,1,0,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
275701,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
24235,"[293322, 126343, 183474, 451554, 190279, 41612...",0,0,0,0,1,0,"[202500.0, 247500.0, 90000.0, 76500.0, 81000.0...","[305221.5, 1078200.0, 593010.0, 284400.0, 4500...","[11637.0, 38331.0, 19260.0, 22599.0, 22018.5, ...",...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0

Standard Scalar

In [18]:

from sklearn.preprocessing import StandardScaler
def StandardScaler(data):
    le=StandardScaler()
    le.fit(data)
    x=le.transform(data)
    dat1=pd.DataFrame(x)
    dat1.columns=data.columns
    data=data1
    return data

Univarient Analysis

Model Building

In [56]:
base_data_label_encoded.shape

(10000, 81)

In [57]:
len(base_data_label_encoded.describe().columns)

81

In [58]:
base_data_label_encoded.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL',
       'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE',
       'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS',
       'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
       'ORGANIZATION_TYPE', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'YEARS_BEGINEXPLUATATION_AVG', 'FLOORSMAX_AVG',
       'YEARS_BEGINEXPLUATATION_MODE', 'FLOORSMAX_MODE',
       'YEARS_BEGINEXPLUATATION_MEDI', 'FLOORSMAX_MEDI', 'TOTALAREA_MODE',
       'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2',
       'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
       'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
       'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
       'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

In [59]:

x=base_data_label_encoded.drop('AMT_CREDIT',axis=1)
y=base_data_label_encoded['AMT_CREDIT']

In [60]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [61]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(8000, 80) (2000, 80) (8000,) (2000,)

In [62]:

from sklearn.linear_model import LinearRegression
ln=LinearRegression()
ln.fit(x_train,y_train)
ln.predict(x_test)

array([510089.29671964, 348264.65772073, 475535.78488436, ...,
       270084.00726787, 490599.46481803, 517845.87572146])

In [64]:
abs(y_test.values-ln.predict(x_test)).sum()

92901436.44978666

In [68]:

from sklearn.linear_model import Ridge
rd=Ridge()
rd.fit(x_train,y_train)
rd.predict(x_test)

abs(y_test.values-rd.predict(x_test)).sum()

92868268.96544613

In [65]:
from sklearn.linear_model import Lasso
la=Lasso()
la.fit(x_train,y_train)
la.predict(x_test)
abs(y_test.values-la.predict(x_test)).sum()

C:\Users\Administrator\Haritha\lib\site-packages\sklearn\linear_model\coordinate_descent.py:492: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

92891026.23128845

Model Validation

In [66]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [69]:
validation_table=[]

for i in [LinearRegression,Lasso,Ridge]:
    rd=i()
    rd.fit(x_train,y_train)
    rd.predict(x_test)
    mae=mean_absolute_error(y_test.values,rd.predict(x_test))
    mse=mean_squared_error(y_test.values,rd.predict(x_test))
    rmse=np.sqrt(mean_squared_error(y_test.values,rd.predict(x_test)))
    mape=(((abs(y_test.values-rd.predict(x_test))/y_test.values)*100).sum())*(1/y_test.shape[0])
    r2score=r2_score(y_test.values,rd.predict(x_test))
    validation_table.append([i,mae,mse,rmse,mape,r2score])

C:\Users\Administrator\Haritha\lib\site-packages\sklearn\linear_model\coordinate_descent.py:492: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

In [70]:
validation_table=pd.DataFrame(validation_table)

In [71]:
validation_table.columns=["Model Name","mae","mse","rmse","mape","r2score"]

In [72]:
validation_table

,Model Name,mae,mse,rmse,mape,r2score
0,<class 'sklearn.linear_model.base.LinearRegres...,46450.718225,3.739593e+09,61152.208356,9.510986,0.976534
1,<class 'sklearn.linear_model.coordinate_descen...,46445.513116,3.738136e+09,61140.299565,9.509828,0.976543
2,<class 'sklearn.linear_model.ridge.Ridge'>,46434.134483,3.734125e+09,61107.483209,9.503247,0.976569

In [74]:
validation_table=[]

for i in [LinearRegression,Lasso,Ridge]:
    rd=i()
    rd.fit(x_train,y_train)
    rd.predict(x_train)
    mae=mean_absolute_error(y_train.values,rd.predict(x_train))
    mse=mean_squared_error(y_train.values,rd.predict(x_train))
    rmse=np.sqrt(mean_squared_error(y_train.values,rd.predict(x_train)))
    mape=(((abs(y_train.values-rd.predict(x_train))/y_train.values)*100).sum())*(1/y_train.shape[0])
    r2score=r2_score(y_train.values,rd.predict(x_train))
    validation_table.append([i,mae,mse,rmse,mape,r2score])

C:\Users\Administrator\Haritha\lib\site-packages\sklearn\linear_model\coordinate_descent.py:492: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

In [75]:
validation_table=pd.DataFrame(validation_table)
validation_table.columns=["Model Name","mae","mse","rmse","mape","r2score"]
validation_table

,Model Name,mae,mse,rmse,mape,r2score
0,<class 'sklearn.linear_model.base.LinearRegres...,46164.413045,3.911387e+09,62541.082332,9.282250,0.976549
1,<class 'sklearn.linear_model.coordinate_descen...,46172.762160,3.911759e+09,62544.052874,9.282556,0.976547
2,<class 'sklearn.linear_model.ridge.Ridge'>,46208.206555,3.914450e+09,62565.569137,9.283437,0.976531

In [76]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import BaggingRegressor

In [77]:
def model_validation(x):
    if x=="train":
        validation_table_train=[]
        models=[LinearRegression,Lasso,Ridge,DecisionTreeRegressor,RandomForestRegressor,BaggingRegressor]
        for i in models:
            rd=i()
            rd.fit(x_train,y_train)
            rd.predict(x_train)
            mae=mean_absolute_error(y_train.values,rd.predict(x_train))
            mse=mean_squared_error(y_train.values,rd.predict(x_train))
            rmse=np.sqrt(mean_squared_error(y_train.values,rd.predict(x_train)))
            mape=(((abs(y_train.values-rd.predict(x_train))/y_train.values)*100).sum())*(1/y_train.shape[0])
            r2score=r2_score(y_train.values,rd.predict(x_train))
            validation_table_train.append([i,mae,mse,rmse,mape,r2score])
        validation_table_train=pd.DataFrame(validation_table_train)
        validation_table_train.columns=["Model Name","mae","mse","rmse","mape","r2score"]
        return validation_table_train
        
    else:
        validation_table=[]
        models=[LinearRegression,Lasso,Ridge,DecisionTreeRegressor,RandomForestRegressor,BaggingRegressor]
        for i in models:
            rd=i()
            rd.fit(x_train,y_train)
            rd.predict(x_test)
            mae=mean_absolute_error(y_test.values,rd.predict(x_test))
            mse=mean_squared_error(y_test.values,rd.predict(x_test))
            rmse=np.sqrt(mean_squared_error(y_test.values,rd.predict(x_test)))
            mape=(((abs(y_test.values-rd.predict(x_test))/y_test.values)*100).sum())*(1/y_test.shape[0])
            r2score=r2_score(y_test.values,rd.predict(x_test))
            validation_table.append([i,mae,mse,rmse,mape,r2score])
        validation_table=pd.DataFrame(validation_table)
        validation_table.columns=["Model Name","mae","mse","rmse","mape","r2score"]
        return validation_table

In [78]:
pd.options.display.float_format='{:0.2f}'.format

In [79]:
model_validation("train")

C:\Users\Administrator\Haritha\lib\site-packages\sklearn\linear_model\coordinate_descent.py:492: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
C:\Users\Administrator\Haritha\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

,Model Name,mae,mse,rmse,mape,r2score
0,<class 'sklearn.linear_model.base.LinearRegres...,46164.41,3911386979.20,62541.08,9.28,0.98
1,<class 'sklearn.linear_model.coordinate_descen...,46172.76,3911758549.90,62544.05,9.28,0.98
2,<class 'sklearn.linear_model.ridge.Ridge'>,46208.21,3914450441.38,62565.57,9.28,0.98
3,<class 'sklearn.tree.tree.DecisionTreeRegressor'>,0.00,0.00,0.00,0.00,1.00
4,<class 'sklearn.ensemble.forest.RandomForestRe...,14053.53,549583484.66,23443.20,2.53,1.00
5,<class 'sklearn.ensemble.bagging.BaggingRegres...,13896.61,534722559.98,23124.07,2.53,1.00

In [80]:
model_validation("test")

C:\Users\Administrator\Haritha\lib\site-packages\sklearn\linear_model\coordinate_descent.py:492: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
C:\Users\Administrator\Haritha\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

,Model Name,mae,mse,rmse,mape,r2score
0,<class 'sklearn.linear_model.base.LinearRegres...,46450.72,3739592586.79,61152.21,9.51,0.98
1,<class 'sklearn.linear_model.coordinate_descen...,46445.51,3738136230.87,61140.30,9.51,0.98
2,<class 'sklearn.linear_model.ridge.Ridge'>,46434.13,3734124504.09,61107.48,9.50,0.98
3,<class 'sklearn.tree.tree.DecisionTreeRegressor'>,39935.91,4624063955.11,68000.47,7.48,0.97
4,<class 'sklearn.ensemble.forest.RandomForestRe...,35626.77,2941927800.50,54239.54,6.55,0.98
5,<class 'sklearn.ensemble.bagging.BaggingRegres...,35686.32,2895032188.45,53805.50,6.60,0.98

In [81]:
## 70 to 80 % accuracy, good to deliver

In [82]:
from sklearn.linear_model import LinearRegression

ln=LinearRegression()
ln.fit(x_train,y_train)
ln.predict(x_test)

array([510089.29671964, 348264.65772073, 475535.78488436, ...,
       270084.00726787, 490599.46481803, 517845.87572146])

In [83]:
coeff_table=pd.DataFrame(ln.coef_,x_test.columns)

In [86]:
coeff_table.sort_values(0).head()

                                      0
YEARS_BEGINEXPLUATATION_MEDI -251258.35
FLOORSMAX_AVG                -221676.49
FLAG_DOCUMENT_4               -81335.06
FLAG_DOCUMENT_2               -47747.44
REGION_POPULATION_RELATIVE    -42953.81

In [87]:
coeff_table.sort_values(0).tail()

                                     0
FLAG_DOCUMENT_19              39722.11
FLOORSMAX_MODE                91110.87
YEARS_BEGINEXPLUATATION_AVG  104480.18
FLOORSMAX_MEDI               121974.43
YEARS_BEGINEXPLUATATION_MODE 150709.74